/* menu styles */

.menuNavegacion {
    text-align: center;
    color: #7d6b7d;
    border: 2px solid lightgrey;
    background-color: #F1E3E3;
    margin-bottom: 100px;
}

.nav-link {
    font-size: 18px;
}